.features{
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;    
    align-items: center;
    bottom: 0px;
    background: #274DC6;
}
.features div{
    border-radius: 50%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    height: 50px;
    cursor: pointer;
    background: rgba(168, 168, 168, 0.5);

}
.features div:hover{
    background: rgb(22, 13, 146);
}
.features div:last-child{
    background: rgb(207, 33, 33);
}
.chat{
    display: block;
    position: fixed;
    right: 0px;
    top:0px;
    overflow-y: auto;
    border: none;
    height: 100vh;
    width: 30vw;
    background: #f0f0f0;
}
.chatList{
    list-style: none;
    width: 90%;
    
}
.chatList li h3{
    display: flex;
    margin-bottom: 0.5rem;
   align-items: center;
    background: rgb(255, 255, 255);
    height: 60px;
   padding-left: 10px;
    border-radius: 0.5rem;
}
.chatList li p{
    display: block;
    right: 0px;
    font-size: 8px;
    margin-bottom: 10px;
    bottom: 0px;

}
.chatLabel{
    width: 100%;
    height: 50px;
    background: rgb(58, 58, 204);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatLabel div{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.doctor{
    z-index: 0.5;
    position: absolute;
    background: #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: center; 
    height: calc(100vh - 100px);
    width: 70vw;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    background: #ffffff;
    overflow-y: auto;
    width: 50%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #274DC6;
    width: 100vw;
    height: 100vh; 
}
.chatBox{
    padding-left: 20px;
    position: fixed;
    bottom: 20px;
    border-radius: 1rem;
    width: 25vw;
    border: none;
    outline: none;
    right: -150px;
    box-shadow: 0px 1px 10px #6e6e6e;
    transform: translateX(-50%);
    background: #ffffff;
    height: 50px;
}