

.hider{
  z-index: 5;
  height: 91vh;
  width: 50vw;
  background: #022675;
}
.main{
  display: flex;
  flex-direction: row;
}
.circleSvg{
  position: absolute;
  bottom: 0px;
  display: block;
  bottom: 0px;
  width: 100vw;
  height: 30vh;
  background: #022675;
  transform: translateY(50%) rotate(180deg);
  border-radius: 50% 50%  ;
  border-top-right-radius: 0em;
border-top-left-radius: 0em;
  
}
.MobCross{
  margin-top: 20px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
}
.mobSign{
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  background: #022675;
  animation: forwards 1s ease enter;
}
.SignUpTextMob{
  text-align: center;
  padding-top: 20%;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: forwards 1s ease text;
  color: #fff;

}
.signUpMobile{
  width: 100vw;
  height: 20vh;
  display: block;
  
  transform: rotate(180deg);
  margin-top: -20%;
  background: #022675;
  
}
.login{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
.loginText{
  text-align: center;
  font-weight: 500;
  padding-top: 10%;
}
.icons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.icon{
  width: 40%;
  cursor: pointer;display:flex;height:40px;justify-content:center;align-items:center;border:1px solid #eee
}
.icon:hover{
  background: #e9e9e9;
}
.signUp{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  width: 50vw;
}
@keyframes enter{
  from {
    top:100%;
    border-radius: 40%;
  }
  50%{
    border-radius: 0%;
  }
  to{
    top:0px;
    border-radius: 0%;
  }
}
@keyframes text {
  from{
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
  
}