.call{
    width: 100%;
    height: 100vh;
    background: rgb(243, 242, 242);
}
.control{
    position: absolute;
    left: 0px;
    
    bottom: 0px;
    width: 100%;
    height: 5rem;
    background:#151527;
}
.ChatLabel{
    display: flex;
    flex-direction: row;
    top: 0px;
    width: 100%;
    height: 3em;
    border-bottom: 0.015px solid rgb(48, 48, 48);
    border-top-left-radius: 1em;
    
    border-top-right-radius: 1em;
    background: #fff;
}
.chatArea{
    display: block;
    z-index: 10;
 
    height: 400px;
    border-top-left-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-right-radius: 1em;
    position: fixed;
    animation: forwards 0.2s linear shoot;
    background: #eeeded;
    right: 1rem;
    bottom: 80px;
}
.main{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: transparent;

}
.accesories{
    position: absolute;
    right: 0px;
    width: 8rem;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.videos{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc( 100% - 5rem);
}
.noVideo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5452c1;
}
.noVideo div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageBubble{
    width: 90%;
    background: #fff;
    height: 4rem;
    border-radius: 0.1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.noVideo div div {
    width: 150px;
    height: 150px;
    box-shadow: rgba(32, 32, 32, 0.2) 0px 8px 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2600ff;
}
.micActive{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff3a3a;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ffffff;
    margin-right: 1rem;
}
.videoLable{
    width: 20px;
    height: 20px;
    bottom: 0px;
    background: #810000;
    display: block;
    z-index: 10;
}
.videos div{
    position: relative;
    height: 90%;
    width: 90%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.videos div video{
    width: 100%;
    height: 100%;
}
.mic ,.camera,.chat,.more{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgba(151, 151, 151, 0.1);
    margin-right: 1rem;
}
.mic ,.camera,.chat,.more:hover{
    cursor: pointer;
}
@keyframes shoot {
 from{
    width: 0px;
    }
    to{
        width: 20rem;
    }
    
}
